@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(./background-img.jpg) no-repeat  center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
label{
    font-size: medium;
    padding: 0;
    margin: 0;
}
header{
    box-shadow: 1px 1px 10px 1px rgb(95, 95, 95);
    width: 100vw;
    margin-bottom: 15%;
}
img{
    padding-top: 0.2%;
    width: 30vw;
}
ul{
    display: flex;
    justify-content: space-around;
}

ul, ul li a{
    list-style: none;
    font-size: xx-large;
    font-weight: bold;
    opacity: 1.0;
    color: rgb(28, 28, 29);
}
a{
    text-decoration: none;
}
#logo{
    text-align: center;
}
.container{
    text-align: center;
}
.container .name h1{
    font-size: xx-large;
}
h5{
    margin-bottom: 6%;
}

@keyframes blink{
    0% {opacity: 0}
    49%{opacity: 0}
    50% {opacity: 1}    

}

#animation{
    transition: 300ms;
    animation: blink 1s infinite;
}
.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}
.active{
    display: block !important; 
}
.form{
    width: 90%;
    margin: 0 auto;
}
.form input{
    width: 70%;
    padding: 5px 10px;
    border-radius: 5px;
}
.form button{
    width: 25%;
    padding: 5px 10px;
    border-radius: 5px;
}
.form button{
    margin-left: -5px;
    width: 20%;
    padding: 5px 5px 5px 0px;
    background: linear-gradient(to left, rgb(0, 0, 0) 50%, rgb(46, 148, 55) 50% );
    background-size: 200% 100%;
    background-position: right bottom;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    border: none;
    transition: all 300ms ease-out;
}

.form button:hover{
    background-position: left bottom;
    color: rgb(255, 255, 255);
}

@media  only screen and (min-width: 768px) { 
    
    body{
        font-size: larger;
    }

    header{
        display: flex;
        justify-content: space-around;
        margin-bottom: 6%;
    }

    .container .name h1{
        font-size: xxx-large;
    }

    #logo{
        display: flex;
        align-items: flex-start;
        padding: 0.2%;
        margin-left: 2%;
    }

    img{
        width: 15vw;
    }

    ul{
        width: 30vw;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        
    }

    ul li a{
        color: black;
        border: 4px rgba(48, 47, 47, 0.76);
        font-size: xxx-large;
    }

    h5{
        margin-bottom: 3%;
    }

    #arrow{
        margin-bottom: 3%;
    }

    #about p {
        max-width: 70vw;
        margin: 0 auto;
        margin-bottom: 3%;
    }

    .form{
        width: 50%;
        margin: 0 auto;
    }
    
    .form input{
        width: 50%;
        padding: 5px 0px 5px 10px;
        border-radius: 5px 0px 0px 5px;
        opacity: 0.6;
        margin-right: -5px;
        border: none;
    }
}