@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./background-img.jpg) no-repeat  center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: rgb(28, 28, 29);
}

header{
    background-color: antiquewhite;
}

ul{
    display: flex;
    justify-content: space-around;
}

ul, ul li a{
    list-style: none;
    font-size: xxx-large;
    font-weight: bold;
    opacity: 1.0;
    color: rgb(28, 28, 29);
}
a{
    text-decoration: none;
}



#logo{
    text-align: center;
}

.container{
    text-align: center;
}


.container .name h1{
    font-size: xx-large;
}

@media  only screen and (min-width: 768px) { 
    

    header{
        display: flex;
        align-items: center ;
        justify-content: space-between;
    }

    #logo{
        max-width: 10vw;
        max-height: 10vw;
    }

    ul{
        width: 30vw;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
    }

    #about p {
        max-width: 70vw;
        margin: 0 auto;
    }

    .form{
        width: 40%;
        margin: 0 auto;
    }

    .form input{
        width: 50%;
    }

    .button input{
        max-width: 50%;
    }
}